<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action ="@{/user/add}">
    <label>
        <p class="errors" th:errors="${user.username}"></p>
        <input type="text" name="username" th:value="${user.username}>
    </label>
    <label>
    <p class="errors" th:errors="${user.email}"></p>
    Email:
        <input  name="email" th:value="${user.email}">
    </label>
    <label>
        <p class="errors" th:errors="${user.password}"></p>
        Password:
        <input type="password" name="password" th:value="${user.password}">
    </label>
    <label>

        <p class="errors" th:errors="${user.verify}"></p>
        Verify:
        <input type="password" name="verify" th:value="${user.verify}">
    </label>
    <input type="submit" value="Submit">

</form>

<p> th:if=""></p>
</body>
</html>

import org.launchcode.spaday.models.User;
import org.springframework.stereotype.Controller;
import org.springgramework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springgrameowrk.web.bind.annotation.RequestMapping;
@Controller
@RequestMapping("user")
public class UserController {
    @GetMapping("add")
    public String displayAddUserForm () {
        return "user/add";
    }
@PostMapping("add")
    public String processAddUserForm(Model, model, @ModelAttribute User user, String verify
    if